body{
    background-color: #448AFF;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    float: left;
    text-align: center;    
}
.user_login{
    float:left;
    height:350px;
    width:21.5%;
    border-radius:5px;
    background: #33A2FF; 
}
.user_login td{
    padding:3px;
    padding-left:20px;
    font-size:15px;
    font-family:verdana;
}
.user_login .caption{
    font-size:20px;
    color:#2E4372;
    font-weight:bold;
}
.button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
a:link{
    text-decoration: none;
}
.image{
    margin-left:10px;
    width:76.5%;
    height:350px;
    float:right;
    border-radius:10px;
    position:relative;
}
.left_panel{
    margin-top: 15px;
    float:left;
    height:380px;
    width:21.5%;
    border-radius:5px;
    background: #33A2FF; 
}
.left_panel p,h3{
    padding:6px;
}
.left_panel li{
    padding:5px;
}
.right_panel{
    margin-left:10px;
    margin-top:15px;
    background: #33A2FF; 
    width:76.5%;
    height:382px;
    float:right;
    border-radius:5px;
}
.right_panel li{
    padding:8px;
}
.footer{
    margin-top:10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    float: left;
    text-align: center;     
}
input[type=text],input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.add_user{
    width:500px;
    background: #33A2FF;
    margin:auto;
}
.container {
    padding: 50px;
}
.left_panel_dashboard{
    float:left;
    height:560px;
    width:21.5%;
    border-radius:5px;
    background: #33A2FF; 
}
.left_panel_dashboard img{
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 30px;
}
.left_panel_dashboard button{
    width: 80%;
    margin-left: 20px;
    background-color: #666;
    color: white;
}
.make_request{
    width:500px;
    background: #33A2FF;
    margin:0 auto;
}
.container select{
    margin: 20px;
    width: 180px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 77%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.admin_login{
    width:500px;
    background: #33A2FF;
    margin:auto;
    padding: 50px;
    height: 500px;
}
.container img{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 90px;
}
#give_feedback{
    width:500px;
    background: #33A2FF;
    margin:0 auto;
}
img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer
}
div#popupform {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
}
#give_feedback {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
}
form#popup {
    max-width:500px;
    min-width:300px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff
}
form#user_login{
    max-width:170px;
    padding:10px 50px;
    border:2px #33A2FF;
    border-radius:10px;
    font-family:raleway;
    background-color:#33A2FF;
    height: 305px;
}
form#user_login button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
}
.pagination {
    display: inline-block;
    padding-top: 20px;
    float: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/* Large Devices */
@media(min-width:1200px){

}
/* Medium Devices */
@media(min-width:992px) and (max-width:1199px){

}
/* Small Devices */
@media(min-width:768px) and (max-width:991px){

}
/* Extra Small Devices */
@media(max-width:768px){
    .right_panel{
        display: none;
    }
    .image img{
        display: none;
    }
    .left_panel{
        display: none;
    }
    form#user_login{
        width: 500px;
        padding:10px 80px;
        border:2px #33A2FF;
        border-radius:10px;
        font-family:raleway;
        background-color:#33A2FF;
        height: 400px;
        padding-bottom: 10px;
    }
    .add_user{
        width:300px;
        background: #33A2FF;
        margin:auto;
    }
    .add_user img{
        display: none;
    }
    .add_user form{
        width: 300px;
    }
    .make_request,form,.container{
        width: 300px;
    }
    .left_panel_dashboard{
        display: none;
    }
    input[type=text],input[type=email],input[type=submit], input[type=password] {
        width: 60%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	td:nth-of-type(1):before { content: "#"; }
	td:nth-of-type(2):before { content: "Device Type"; }
	td:nth-of-type(3):before { content: "Request Type"; }
	td:nth-of-type(4):before { content: "Department"; }
	td:nth-of-type(5):before { content: "Description"; }
	td:nth-of-type(6):before { content: "Response"; }
	td:nth-of-type(7):before { content: "Status"; }
    }
